body{
    margin: 0cm;
}

.cover{
    height: 400px;
    background-image: url(./img/bannerMain.jpg);
    color: #130f40;
    background-size: cover;
    background-position: center;
    /* background-color: #7ed6df; 
    background-blend-mode: darken;*/
}

.card{
    border: 0 !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
/*
<section>
    <div class="container mt-5 mb-5">
      <div class="row">
        <div class="col">
          <!-- carta -->
          <div class="card" style="width: 18rem;">
            <img
              src="./img/psicoterapia.jpg"
              class="card-img-top"
              alt="psicoterapia dada a un paciente"
            />
            <div class="card-body">
              <h5 class="card-title">psicoterapia</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </div>
        <!-- otra carta -->
        <div class="card" style="width: 18rem;">
          <img
            src="./img/licenciada.jpg"
            class="card-img-top"
            alt="foto de la licenciada"
          />
          <div class="card-body">
            <h5 class="card-title">PSICOLOGA</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up
              the bulk of the card's content.
            </p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>

        </div>

      </div>
    </div>
  </section>
*/