body{
    margin: 0cm;
}

.cover{
    height: 400px;
    background-image: url(./img/bannerMain.jpg);
    color: #130f40;
    background-size: cover;
    background-position: center;
    /* background-color: #7ed6df; 
    background-blend-mode: darken;*/
}

.card{
    border: 0 !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}